<div class="">
  <h1 class="">New Inventory Item</h1>
  <div class="">
    <%= form_with model: @inventory_food, url: inventory_foods_path(@inventory.id), local: true, html: {"data-turbo": "false"} do |form| %>
      <% if @inventory_food.errors.any? %>
        <div class="">
          <% @inventory_food.errors.full_messages.each do |msg| %>
            <p><%= msg %></p>
          <% end %>
        </div>
      <% end %>
      <div class="">
        <div>
          <%= form.label :quantity, class: '' %>
          <%= form.number_field :quantity, class: '' %>
        </div>
        <div>
          <%= form.label :food_id, class: '' %>
          <%= form.select :food_id, options_from_collection_for_select(@available_food, "id", "name"), {}, { class: "" } %>
        </div>
        <%= form.submit "Submit", class: '' %>
      </div>
    <% end %>
  </div>
</div>
