<div class="">
  <header class="">
    <h1 class="">
      <%= @inventory.name %>
    </h1>
    <%=
      link_to "Add food", inventory_foods_new_path(@inventory.id),
      class: ""
    %>
  </header>
  <div class="">
    <table class="">
      <thead class="">
        <tr class="">
          <th class="">Food</th>
          <th class="">Quantity</th>
          <th class="">Actions</th>
        </tr>
      </thead>
      <tbody class="">
        <% @inventory.inventory_foods.each do |item| %>
          <tr>
            <td class="">
              <%= item.food.name %>
            </td>
            <td class="">
              <%= "#{item.quantity} #{item.food.measurement}" %>
            </td>
            <td class="">
              <%=
                button_to "Delete", inventory_food_path(@inventory.id, item.id), method: :delete,
                class: ""
              %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
