<div class="">
  <div class="">
    <h1 class="">Shopping List</h1>
  </div>
  <div class="">
    <div>Amount of food to buy: <%= @shopping_list.length %> items</div>
    <div>Total value of food needed: <%=number_to_currency( @shopping_list.map { |item| item[:price]}.sum )%></div>
    <div>Recipe: <%= link_to @recipe.name, recipe_path(@recipe.id), class: "underline text-blue-500" %></div>
    <div>Inventory: <%= link_to @inventory.name, inventory_path(@inventory.id), class: "underline text-blue-500" %></div>
  </div>
  <div class="">
    <table class="">
      <thead class="">
        <tr class="">
          <th class=""><%= link_to "Food", :sort => "food"%> </th>
          <th class=""><%= link_to "Quantity", :sort => "quantity"%> </th>
          <th class=""><%= link_to "Price", :sort => "price"%> </th>
        </tr>
      </thead>
      <tbody>
        <% @shopping_list.each do |food| %>
          <tr>
            <td class=""><%= food[:name] %></td>
            <td class=""><%= food[:quantity] %></td>
            <td class="">  <%= number_to_currency(food[:price])  %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% flash.each do |type, msg| %>
    <div class="alert alert-<%= type %>">
      <%= msg %>
    </div>
  <% end %>
</div>
