<div class="form">
  <%= form_with model: @recipe, url: recipes_path, method: :post, local: true, scope: :recipe do |form| %>
    <h1 class="head-title">Add Your Recipe!</h1>

    <div class="form-group">
      <%= form.text_field :name, placeholder: 'Name', class: "form--input" %>
    </div>

    <div class="form-group">
      <%= form.number_field :preparation_time, placeholder: 'Preparation time (mins)', class: "form--input" %>
    </div>

    <div class="form-group">
      <%= form.number_field :cooking_time, placeholder: 'Cooking time (mins)', class: "form--input" %>
    </div>

    <div class="form-group">
      <%= form.text_area :description, placeholder: 'Description', rows: 12, class: "form--input" %>
    </div>

    <div class="form-group">
      <%= form.label :public %>
      <%= form.check_box :public %>
    </div>

    <div class="form-group">
      <%= form.submit "Add Recipe", class: "form--submit" %>
    </div>
  <% end %>
</div>