<div class="container">
  <h2 class="recipe"><%= @recipe.name %></h2>
  <h3 class="recipe-specs">Preparation time: <%= @recipe.preparation%> min(s)</h3>
  <div class="public">
    <% if @recipe.public %>
      <p>Public <i class="fa-solid fa-toggle-on"></i></p>
    <% elsif !@recipe.public %>
      <p class="public-p"><%= @recipe.public %><i class="fa-solid fa-toggle-off"></i></p>
    <% end %>
  </div>
  <h3 class="recipe-specs">Cooking time: <%= @recipe.cooking %> min(s)</h3>
  <h3 class="recipe-specs">Step by Step Description </h3>
  <p><%= @recipe.description %></p>
  <section class="containerz px-5 mt-5">
  <div class="col-md-6 offset-md-10 py-1">
   <div class="w-full bg-white rounded p-4 flex flex-row justify-between leading-normal gap-2">
      <% if user_signed_in? %>
        <button type="" class="flex bg-transparent hover:bg-teal-500 text-teal-700 justify-center font-semibold hover:text-white p-1 px-4 border border-teal-500 hover:border-transparent rounded" @click="open = true">Generate Shopping List</button>
      <% end %>
      <% if @recipe.user == @current_user %>
        <%= link_to "Add Ingredients", new_recipe_recipe_food_path(@recipe.id), class: "flex bg-transparent hover:bg-lime-500 text-lime-700 justify-center text-center font-semibold hover:text-white p-1 px-4 border border-lime-500 hover:border-transparent rounded"%>
      <% end %>
    </div>
  </div>


<table class="w-full text-sm rounded">
        <thead class="text-white">
          <tr class="bg-teal-700">
            <th class="px-4 w-5/12 py-2">Food</th>
            <th class="px-4 w-2/12 py-2">Quantity</th>
            <th class="px-4 w-2/12 py-2">Value</th>
            <% if @recipe.user == current_user %>
              <th class="px-4 w-3/12 py-2">Action</th>
            <% end %>
          </tr>
        </thead>
        <tbody><%= render partial:"recipe_food", collection: @recipe_foods %>
        </table>

<%
=begin%>
 
 <table>
    <thead>
      <tr>
        <th>Food</th>
        <th>Measurement</th>
        <th>Unit Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <% @foods.each do |food| %>
      <tr>
          <th><%= food.name %></th>
          <td><%= food.measurement %></td>
          <td><%= number_to_currency(food.price) %></td>
          <td>
          <%= button_to "Delete", food_path(food), class: "border border-light rounded-pill", method: :delete, data: { confirm: "Are you sure about delete #{food.name}?" } %>
          </td>
        </tr>
    <% end %>
  </table> 
<%
=end%>
</section>
</div>
