<section class="container">
 <%= form_for @food, url: foods_path, local: true, data: { turbo: false }, method: :post do |form| %>
 
 <% if @food.errors.any? %>
  <div class="">
  <ul>
  <% @food.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
  </ul>
  </div>
 <% end %>
 <h2 class="">Add New Food</h2>

 <div class="">
   <%= form.label :name, class: "" %>
   <%= form.text_field :name, class: "" %>
 </div>

 <div class="">
   <%= form.label :measurement %>
   <%= form.text_field :measurement, class: "" %>
 </div>

 <div class="">
   <%= form.label :price %>
   <%= form.text_field :price, class: "" %>
 </div>

 <div>
 <%= form.submit "", class: "" %>
 <%= link_to "Cancel", foods_path, class: "" %>
 </div>
 
 <% end %>
</section>